@model IEnumerable<WebIdentity.Entities.Department>

@{
    ViewData["Title"] = "Index";
}

<style>
    .department-button {
        justify-items: end;
    }

    .department-container {
       width: 100%;
    }
</style>

<div class="department-container">
    <h1 class="mb-3">Departments</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="department-button">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        <div/>
                    </td>
                    
                </tr>
        }
        </tbody>
    </table>
</div>