@model IEnumerable<WebIdentity.Entities.Employee>

@{
    ViewData["Title"] = "Employees";
}

<style>
    .employee-container {
        width: 100%;
    }

    .employee-button {
        display: flex;
        gap: 5px;
    }
</style>

<div class="employee-container">
    <h1 class="mb-3">Employees</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Phone Number</th>
                <th>Date Admission</th>
                <th>Sector</th>
                <th>Department</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateAdmission)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sector.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Department.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.HierarchicalLevel)</td>
                    <td>
                        <div class="employee-button">
                            <a asp-action="Edit" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
